.plant{
    display: flex;
    
    flex-wrap: wrap;
    padding: 10rem;

}

.plants{
    display: flex;
    flex-wrap: wrap;

    width:90vw;
}

.wholeThing{
    background-color: rgb(235, 220, 248);

    height: 92vh;
    width: 100vw;
   
}


.summerBar {
    background-color: #FFD596 ;
}
.summerItem{
    background-color: #FBEBB3 ; 
}

.winterBar {
    background-color: #B1E3FF;
}
.winterItem{
    background-color: #CBF4F7; 
}

.fallBar {
    background-color: #FFA88C ;
}
.fallItem{
    background-color: #FFCEA1 ; 
}

.springBar {
    background-color: #b0dcac;
}
.springItem{
    background-color: #ccf3cb; 
}