
.dontMove{
    position:fixed;
    display:block;
    width: 100vw;
    z-index:999;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(200, 159, 238);
    height: 8vh;
   
}

.navbar__item {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-basis: 20%;
    list-style-type: none;
    height: 2.5rem;
    border-radius: 2rem;
    background-color: rgb(235, 220, 248);
}

.navbar__logout {
    margin-left: auto;
}


.lowbar{
    background-color: rgb(200, 159, 238);
    display:flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    display:block;
    height: 8vh;
    width: 100vw;
    z-index:999;
}
.addPlant {
    display: flex;
    align-content: center;
    background-color: rgb(200, 159, 238);
    justify-content: center;
   
}
.addPlantContainer{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 8vh;
    width: 8vw;
    border-radius: 100%;
    background-color: rgb(235, 220, 248);
}



.summerBar {
    background-color: #FFD596 ;
}
.summerItem{
    background-color: #FBEBB3 ; 
}

.winterBar {
    background-color: #B1E3FF;
}
.winterItem{
    background-color: #CBF4F7; 
}

.fallBar {
    background-color: #FFA88C ;
}
.fallItem{
    background-color: #FFCEA1 ; 
}

.springBar {
    background-color: #b0dcac;
}
.springItem{
    background-color: #ccf3cb; 
}

