.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    background-color: aquamarine;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
}

.addPlant {
    display: flex;
    align-content: flex-end;
}

